Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: Fabian Pflug <pflug@chi.uni-hannover.de>
Depends: default-jre | java11-runtime
